.img__size{
	width: 18rem;
	height: 11rem;
}
.row__padding{
	padding-top: 3rem;
}
.row__width{
	width: 75%;
}
.fontOswald{
	font-family: $font-texto;
	color: black;
}
.marginTop{
	margin-top: 5rem;
}
.ws{
	letter-spacing: 0.2rem;
}
.more{
	display: none;
}
.img__size2{
	width: 100%;
	height: 30rem;
}
.btn__Primary--hover:hover{
	background: black;
	border-color: black;
}
.overlay__carousel{
	border-radius: 15px;
	background: rgba(251, 251, 251, 0.3);
	width: 50rem;
	height: 10rem;
	margin-bottom: 1rem;
	margin-left: 4rem;
}
.containerfluid__banner{
	margin: 0; 
	background: #DBB985; 
	height: 8rem;
}
.img__cards{
	border-radius: 4px;
	border: solid black;
}
.containerfluid__banner--letra{
	color: white;
	padding: 2rem;
	padding-left: 0;
	letter-spacing: 0.2rem;
}
.containerfluid__display{
	display: inline;
}
.img__limon1{
	width: 5rem;
	height: 2rem;
	margin-right: 4.5rem;
}
.img__limon2{
	width: 5rem;
	height: 2rem;
	margin-left: 4rem;
}

.p__letra{
	font-family: $font-texto;
	font-size: 1.2rem;
	color: grey;
}
.faq{
	text-decoration: none !important;
	color: black !important;
	text-transform: none !important;
}
