.img__size{
	width: 18rem;
	height: 11rem;
}
.row__padding{
	padding-top: 3rem;
}
.row__width{
	width: 75%;
}
.fontOswald{
	font-family: $font-texto;
	color: black;
}
.marginTop{
	margin-top: 5rem;
}
.ws{
	letter-spacing: 0.2rem;
}
.more{
	display: none;
}
.img__size2{
	width: 100%;
	height: 30rem;
}
.btn__Primary--hover:hover{
	background: black;
	border-color: black;
}
.overlay__carousel{
	border-radius: 15px;
	background: rgba(251, 251, 251, 0.3);
	width: 50rem;
	height: 10rem;
	margin-bottom: 1rem;
	margin-left: 4rem;
}
.containerfluid__banner{
	margin: 0; 
	background: #635564; 
	height: 6rem;
	color: #fff;
	padding: 0.8rem;
}
.containerfluid__display{
	display: inline;
}
.img__limon1{
	width: 5rem;
	height: 2rem;
	margin-right: 4.5rem;
}
.img__limon2{
	width: 5rem;
	height: 2rem;
}

.p__letra{
	font-family: $font-texto;
	font-size: 1.2rem;
	color: grey;
}
.faq{
	text-decoration: none !important;
	color: #fff !important;
	text-transform: none !important;
	font-family: $font-texto;
}
.card-header{
	background: #625463;
}
.osw__color{
	color: #625463;
}
.accordion > .card > .card-header{
	border-radius: 3px;
}
.carousel-item{
	height: 100vh;
}
.lista_blog{
	 list-style: circle; 
	 font-family: 'Oswald', sans-serif;
	 padding-left: 7rem;
	 padding-top: 3rem;
}