/*Botón enviar*/
#hoverBtn:hover{
	background: black;
	color: white;
	transition: all 0.15s ease-in-out;
}
.boton{
	background: #ffc107;
}
.col-sm-10__padLeft{
	padding-left: 18rem;
}
/*Formulario cambios*/
.letraForm{
	font-family: 'Oswald', sans-serif;
	font-size: 1.2rem;
	color: white;
}
/*Fondo del forms con opacidad*/
.fondoImagen{
	background-image: url(../img/faq1.jpg);
	padding-top: 18rem;
	position: relative;
}
#fondo:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.2);
}
.os{
	font-family: 'Open Sans', sans-serif;
}
.img__palta1{
	width: 4rem;
	height: 3rem;
	margin-right: 4.5rem;
}
.img__palta2{
	width: 4rem;
	height: 3rem;
	margin-left: 4rem;
}