/*Container 2 y 3 parte recetas*/
.container-fluid__receta2--color{
	background: #F3CE84;
	height: 40rem;
	width: 100%;
}
.container-fluid__receta3--color{
	background: #f0e573;
	height: 42rem;
	width: 100%;
}
.Centradito{
	text-align: center;
}