/*Footer*/
.footer__title--font{
	font-size: 1.2rem;
	font-family: $font-texto; 
}
.footer__lista--font{
	font-size: 1rem;
	font-weight: 700;
}
.footer__logo{
	width: 7rem;
	height: 7rem;
}
.footer__title--ciudad{
	font-family: $font-principal;
	font-size: 1.5rem;
}