/*Footer*/
.footer__title--font{
	font-size: 1rem;
	font-family: $font-texto; 
}
.footer__lista--font{
	font-size: 1.05rem;
	font-family: $font-texto;
}
.footer__logo{
	width: 9rem;
	height: 9rem;
}
.footer__title--ciudad{
	font-family: $font-texto;
	font-size: 1.5rem;
}