/*Footer*/
.footer__title--font{
	font-size: 1.2rem;
	font-family: $font-texto; 
}
.footer__lista--font{
	font-size: 1.05rem;
	font-weight: 700;
}
.footer__logo{
	width: 9rem;
	height: 9rem;
}
.footer__title--ciudad{
	font-family: $font-principal;
	font-size: 1.5rem;
}