.menu__a{
	text-decoration: none !important;
	color: #6ca04e !important;
}
.menu__a--hover :hover{
	border-bottom: solid #dce775;
}
.menu__a--fontsize{
	font-size: 2rem;
}
.menu__achicar{
	padding-top: 1.5rem;
	margin-left: 14rem;
}
.wordspace{
	margin-left: 5rem;
}
.wordspace1{
	word-spacing: 1rem;
}