.fa-1x {
font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
cursor: pointer;
}
.dark-blue-text {
color: #0A38F5;
}
.dark-pink-text {
color: #AC003A;
}
.dark-amber-text {
color: #ff6f00;
}
.dark-teal-text {
color: #004d40;
}
.navbar-brand__letra{
	font-size: 2rem;
	font-family: $font-principal;
    padding-bottom: 2.5rem;
}
.div__palta{
    width: 6rem;
    height: 6rem;
    border-color: transparent;
    margin-right: 4rem;
    top: -10px;
    position: relative;
    border-color: transparent;
}
.navbar-toggler{
	border: 0px;
}