.bloque1__col-md-1--textalign{
	text-align: center;
}
.bloque1__col-md-1--margin{
	margin-top: 10rem;
}
.bloque1__col-md-1--img{
	width: 20rem;
	height: 20rem;
	margin-bottom: 1rem;
}
.bloque1__col-md-1--fontfamiliycolor{
	font-family: $font-texto;
}
.bloque1__col-md-1--lineagruesa{
	border-bottom: 0.3rem solid #857567;
}
.bloque1__col-md-1--padding{
	padding: 1rem;
}
#color1{
	background: #635564;
	border-radius: 0.6rem;
	color: white;
}
.container-flex{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}
.div__row--margin{
	margin-left: 0.6rem;
	margin-right: 2rem;
}
.container-fluid__color{
	background: $backgroundCremita;
}
.container-fluid__reglas{
	width: 100%;
	height: 50rem;
}
.section__container--img{
	width: 100%;
	height: auto;
}
.section__container--img:hover{
	filter: opacity(.7);
	transition: all .5s ease-in-out;
}
.row__ancho{
	padding-top: 6rem;
	width: 100%;
}
.row__padding--recetas{
	padding-top: 11rem;
	width: 100%;
}
.row__padding{
	padding-top: 7rem;
}
.row__col-md-8--lista{
	padding-left: 10rem;
	display: block;
	letter-spacing: 0.05rem;
	margin-top: 0.3rem;
}
.div__col-md-4--padding{
	padding-left: 3rem;
}
.col-md-8__max-width{
	max-width: 55%;
}
.row__col-md-8--h4{
	font-family: $font-principal;
	font-size: 2rem;
}
.row__col-md-8--ul{
	font-family: $font-texto;
	font-size: 1rem;
}
.row__col-md-8--li{
	line-height: 1.8rem;
}
.col-md-8__paddingL{
	padding-left: 2rem;
}
.card-img{
	width: 19rem;
	height: 21rem;
}
.card-size{
	width: 19rem;
	height: 27rem;
	font-family: $font-texto;
	font-size: 1.2rem;
}
.letracard{
	font-family: 'Oswald', sans-serif;
	font-size: 3rem;
	padding-top: 8rem;
	padding-left: 5.5rem;
	letter-spacing: 0.2rem;
}
.marginLeft{
	margin-left: 1rem;
}
.paddingLeft{
	padding-left: 12rem;
}
.card-body{
	background: #f8f0fc;
}
.banner__habitos{
	height: 12rem;
	margin-top: 5rem;
	padding: 2rem;
	font-family: $font-texto;
}
.img__cita1{
	width: 3rem;
	height: 3rem;
	margin-right: 14rem;
}
.img__cita2{
	width: 3rem;
	height: 3rem;
	margin-left: 14rem;
}
.z{
	font-family: $font-principal;
}
.block{
	display: block;
}

.container {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container__efecto:hover .image {
  opacity: 0.5;
}

.container__efecto:hover .middle {
  opacity: 1;
}

.text {
  background-color: #84c06b;
  border-radius: 10px;
  color: white;
  font-size: 2rem;
  padding: 16px 32px;
}
.text__a{
	text-decoration: none !important;
	color: white !important;
}