*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.loguitoPaltaHeader{
	width: 8rem;
	position: absolute;
	margin-left: 1rem;
	height: 6rem;
}
body{
	font-family: $font-principal;
	font-size: 24px;
	color: $colorLetravioletita;
}
ul li{
	display: inline-block;
	letter-spacing: 2px;
}
footer{
	background-color:$backgroundFooter;
	width: 100%;
	color: $letraFooter;
	text-align: center;
	word-spacing: 20px;
	font-size: 30px;
	padding: 5px;
}
header{
	background: $backgroundMenu;
	width: 100%;
	position: fixed;
	height: 6rem;
	z-index: 999;
}
section{
	background: $backgroundSectionLila;
	width: 100%;
	height: $altura;
}
footer div img{
	width: 60px;
	height: 60px;
	padding: 10px;
}
.bloque1{
	height: 125rem;
}
.bloque2{
	height: 132rem;
}
.bloque3{
	height: 135rem;
}
.bloque4{
	height: 107rem;
}
.bloque5{
	height: 150rem;
}