*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.loguitoPaltaHeader{
	width: 8rem;
	position: absolute;
	margin-left: 1rem;
	height: 6rem;
}
body{
	font-family: $font-principal;
	font-size: 24px;
	color: $colorLetravioletita;
}
ul li{
	display: inline-block;
	letter-spacing: 2px;
}
footer{
	background-color: #625463;
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 30px;
	padding: 5px;
}
header{
	background: $backgroundMenu;
	width: 100%;
	position: fixed;
	height: 4.5rem;
	z-index: 999;
}
section{
	background: $backgroundSectionLila;
	width: 100%;
	height: $altura;
}
footer div img{
	width: 60px;
	height: 60px;
	padding: 10px;
}
.bloque1{
	height: 125rem;
}
.bloque2{
	height: 132rem;
}
.bloque3{
	height: 170rem;
}
.bloque4{
	height: 80rem;
}
.bloque5{
	height: 140rem;
}
.card-text{
	font-size: 1rem;
}
.transparent{
	background: transparent;
}
.menu_desplegable{
	width: 15%;
	background:#c5e080;
	border-radius: 20px;
	text-align: center;
}
.nav-item:nth-child(1){
	border-bottom: 1px solid white;
}
.nav-item:nth-child(2){
	border-bottom: 1px solid white;
}
.nav-item:nth-child(3){
	border-bottom: 1px solid white;
}
.nav-item:nth-child(4){
	border-bottom: 1px solid white;
}