/*Variables*/
$font-principal: 'Amatic SC', cursive;
$font-texto: 'Oswald', sans-serif; 
$altura: 200rem;
$backgroundMenu:#e6ee9c;
$letraFooter: black;
$backgroundSectionLila:#dbd9dc;
$backgroundFooter:#e0e0e0;
$backgroundCremita:#F0E573;
$colorLetravioletita:#4b414a;

/*------*/
@import "semantico";
@import "menu";
@import "parteindex";
@import "container1y2";
@import "footer";
@import "contactoforms";
@import "blog";
@import "menuhambur";
@import "mediaquery";