*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.loguitoPaltaHeader{
	width: 150px;
	padding: 10px;
	position: absolute;
	
}
nav ul{
	float: center;
	margin-top: 35px;
	margin-left: 330px;
	word-spacing: 20px;
}
body{
	font-family: 'Amatic SC', cursive;
	font-size: 24px;
	background: ;
}
ul li{
	display: inline-block;
	padding: 10px;
	margin-right: 50px;
	letter-spacing: 2px;
	font-weight: 700;
}
footer{
	color: #635464;
	text-align: center;
	word-spacing: 20px;
	font-size: 30px;
	padding: 5px;
}
header{
	background: #e6ee9c;
	width: 100%;
	position: fixed;
	height: 150px;
	z-index: 999;
}
section{
	background: #F6EFCC;
	width: 100%;
	height: 150rem;
}
footer div img{
	width: 60px;
	height: 60px;
	padding: 10px;
}
/*Botón enviar*/
#hoverBtn:hover{
	background: black;
	color: white;
	transition: all 0.15s ease-in-out;
}
.btn{
	background: #ffc107;
}
.col-sm-10__padLeft{
	padding-left: 18rem;
}
/*Formulario cambios*/
.letraForm{
	font-family: 'Oswald', sans-serif;
	font-size: 1.2rem;
	color: white;
}
/*Fondo del forms con opacidad*/
.fondoImagen{
	background-image: url(img/faq1.jpg);
	padding-top: 18rem;
	position: relative;
}
#fondo:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.2);
}
/*Estilo del menú*/
.menu{
	font-size: 2.5rem;
}
.menu__a{
	text-decoration: none !important;
	color: #6ca04e !important;
}
.menu__a--hover :hover{
	border-bottom: solid #dce775;
}
.menu__a--fontsize{
	font-size: 2.5rem;
}
/*Primer parte del index*/
.bloque1__col-md-1--textalign{
	text-align: center;
}
.bloque1__col-md-1--margin{
	margin-top: 12rem;
}
.bloque1__col-md-1--img{
	width: 20rem;
	height: 20rem;
	margin-bottom: 1rem;
}
.bloque1__col-md-1--fontfamiliycolor{
	font-family: 'Oswald', sans-serif;
}
.bloque1__col-md-1--lineagruesa{
	border-bottom: 0.3rem solid #857567;
}
.bloque1__col-md-1--padding{
	padding: 1rem;
}
#color1{
	background: rgba(170, 118, 80, 0.3);
	border-radius: 0.6rem;
	margin-left: 31rem;
}
.container-flex{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}
.div__row--margin{
	margin-left: 0.6rem;
	margin-right: 2rem;
}
.container-fluid{
	margin: 0;
	width: 100%;
	height: 50rem;
}
.section__container--img{
	width: 32rem;
	height: 36rem;
	border: 0.2rem solid black;
	border-radius: 2rem;
}
.section__container--img:hover{
	filter: opacity(.7);
	transition: all .5s ease-in-out;
}
.row__ancho{
	padding-top: 11rem;
	width: 100%;
}
.row__padding{
	padding-top: 7rem;
}
.row__col-md-8--lista{
	padding-left: 10rem;
	display: block;
	letter-spacing: 0.05rem;
	margin-top: 0.3rem;
}
.div__col-md-4--padding{
	padding-left: 3rem;
}
.col-md-8__max-width{
	max-width: 55%;
}
.row__col-md-8--h4{
	font-family: 'Amatic SC', cursive;
	font-size: 2rem;
}
.row__col-md-8--ul{
	font-family: 'Oswald', sans-serif;
	font-size: 0.9rem;
}
.row__col-md-8--li{
	line-height: 1.8rem;
}
.col-md-8__paddingL{
	padding-left: 2rem;
}
/*Container 2 y 3 parte recetas*/
.container-fluid__receta2--color{
	background: #F3CE84;
	height: 50rem;
	width: 100%;
}
.container-fluid__receta3--color{
	background: #f0e573;
	height: 50rem;
	width: 100%;
}
.Centradito{
	text-align: center;
}
/*Footer*/
.footer__title--font{
	font-size: 1.5rem;
	font-family: 'Oswald', sans-serif; 
}
.footer__lista--font{
	font-size: 1.2rem;
}
.enlinea{
	display: inline;
	float: right;
	margin-top: 1.5rem;
	margin-right: 0.6rem;
}
.footer__logo{
	width: 11rem;
	height: 13rem;
	margin-right: 10rem;
}